<!DOCTYPE html>
<html>
  <head>
    <title>My Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <div class="container">

      <h1>My Node Demo</h1>
      <p>Welcome to my node demo.</p>
    </div>
    <script src="../js/custom.js"></script>
  </body>
</html>
