body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
#error{
  background-image: url("../images/Error_404.jpg");
  background-repeat: no-repeat;
  width: 750px;
  height: 577px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #111;
}
.active{
    background-color:#4CAF50;
}
.jumbotron{
    background-color: rgba(204,204,204, 0.5);
    border-radius: 20px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}