body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
#error{
  background-image: url("../images/Error_404.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
#nav{

}
#nav li{
  list-style: none;
  display: inline-block;
  padding-right: 5px;

}
