html{
	height: 100%;
}
body{
	padding-top: 70px;
	background: url(https://hd.unsplash.com/photo-1462903004115-f8e27d6a3985);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	font-family: 'Lato', sans-serif;
	color: white;
}
.contact-links{
	color: white;
}
.sub-content{
	background-color: rgba(160, 155, 155, 0.5);
	border: 1px solid rgba(239, 234, 234, 0.2);
	border-radius: 1%;

}
#list{
	list-style: none;
}
#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
h1{
	font-weight: 700;
	font-size: 5em;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
textarea{
	color: lightgrey;
}
#me{
	border: 2px solid;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin-top: 10px;
}
.fa{
	padding-right: 10px;
}
#wm-p{
	margin-top: 10px
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
