body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
#error{
  background-image: url("../images/Error_404.jpg");
  background-repeat: no-repeat;
  width: 750px;
  height: 577px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #111;
}
.active{
    background-color:#4CAF50;
}
.jumbotron{
    margin-top: 10px;
    text-align: center;
    background-color: #90C53F;
}

#footer{
    text-align: center;
}
#footer p{
    color: lightgray;
}